<span>
    <p>Naukowcy stale badają, które z elementów codziennych zachowań, w jaki sposób i do jakiego stopnia przyczyniają
        się do
        rozwoju choroby lub przed nią chronią. Stworzono kilkanaście kategorii czynników ryzyka. Wszystkie, poza jednym
        wyjątkiem - promieniowaniem jonizującym – można kontrolować, a co za tym idzie można zapobiegać wielu
        powszechnie
        występującym nowotworom, takim jak rak płuca, przełyku, okrężnicy, rak jamy ustnej i czerniak.</p>

    <p>Choroby nowotworowe powodowane są najczęściej przez wiele równolegle działających czynników. Te, które oddziałują
        w
        różny sposób na proces nowotworowy wzajemnie potęgują swój wpływ. Najlepiej poznane z tych czynników, to palenie
        tytoniu
        i nadużywanie alkoholu. Wystarczy zmienić jeden z czynników ryzyka, by zmniejszyć zagrożenie chorobą. Na
        przykład,
        nowotworom przełyku można zapobiegać zrywając z paleniem papierosów albo ograniczając picie alkoholu i
        odchudzając się,
        ale także zwiększając udział warzyw i owoców w diecie lub podejmując wszystkie te prozdrowotne zachowania.
        Podobnie
        można uchronić się przed rakiem okrężnicy, ponieważ jego rozwój stymuluje niewłaściwa dieta, nadmiar alkoholu,
        brak
        aktywności fizycznej i tkanka tłuszczowa nagromadzona w okolicy pasa.</p>





    <h3>Jak więc należy postępować, by być w zgodzie z regułami profilaktyki nowotworowej?</h3>

    <p>Jeśli pić alkohol, to rzadko, w niewielkich ilościach i podczas posiłku. Nie palić papierosów. Nie mieć nadwagi
        (wskaźnik masy ciała BMI poniżej 25 kg/m2). Stosować idealną dietę, na którą składa się co najmniej 5 porcji
        owoców i
        warzyw dziennie (400 g), błonnik w ilości minimum 23 g dziennie, głównie białe mięso zamiast czerwonego. By
        dieta
        chroniła zdrowie należy z niej wykluczyć mięsne przetwory i nadmiar soli (czyli stosować nie więcej niż 6 g
        dziennie).
        Należy zwiększyć aktywność fizyczną do 30 min. intensywnego ruchu przez 5 dni w tygodniu. Nie stosować leków
        hormonalnych. Szczepiąc się unikać infekcji wirusowych. Ograniczyć opalanie się. Karmić piersią przez co
        najmniej 6
        miesięcy.</p>

    <p>Niestety, przestrzeganie tych zaleceń nie daje stuprocentowej skuteczności, niczym szczepionka chroniąca przed
        chorobą
        wirusową czy bakteryjną. Zdarza się, że na raka płuca choruje osoba, która nigdy w życiu nie sięgnęła po
        papierosa,
        natomiast wieloletni palacz dożywa sędziwego wieku i przyczyną jego zgonu nie jest nowotwór.</p>

    <p>Z badań na dużych grupach osób wynika, że ekspozycja na czynniki ryzyka rozwoju nowotworów odpowiada za większość
        przypadków zachorowania na raka – czynniki genetyczne wiąże się z około 5% zachorowań. Według oszacowania dwóch
        znanych
        epidemiologów brytyjskich (R. Doll i R Peto) palenie papierosów odpowiada za 1/3 zachorowań na raka; dieta –
        30%;
        nadwaga i otyłość - 5,5 proc.; alkohol 2-4 proc.; praca zawodowa – 2-8 proc.; opalanie się - 3 proc.; infekcje –
        do 10%;
        promieniowanie jonizujące 1-2 proc. W innych badaniach oszacowano również udział innych czynników ryzyka w
        zachorowaniach na nowotwory: brak ćwiczeń fizycznych (1 proc.), bezdzietność i niekarmienie piersią (0,9 proc.),
        zastępcza terapia hormonalna (0,5 proc.).</p>

    <p>Palenie papierosów szkodzi wszystkim w równym stopniu, ale wpływ pozostałych elementów życia różni się w
        zależności od
        płci. Wśród mężczyzn najwięcej po nałogu nikotynowym, bo za 6,1 proc. przypadków zachorowań na raka odpowiada
        zbyt mała
        ilość owoców i warzyw w diecie, substancje rakotwórcze (4,9 proc.) i picie alkoholu (4,6 proc.). Wśród kobiet
        największe
        znaczenie ma nadwaga i otyłość (6,9 proc. zachorowań na raka) i infekcje wirusem HPV (3,7 proc.).</p>
</span>