<span>
    <p>Badania profilaktyczne to procedury medyczne, które mają na celu ochronę przed stanami zagrażającymi naszemu
        zdrowiu.
        Obejmują przede wszystkim kontrolne wizyty u lekarza oraz regularnie wykonywane podstawowe badania krwi i moczu.
        Badania
        profilaktyczne wykonuje się, aby wykryć problemy zdrowotne na wczesnym etapie zaawansowania - gdy istnieje
        największa
        szansa na szybki powrót do zdrowia.</p>
    <p>Badania profilaktyczne odgrywają szczególnie ważną rolę w onkologii. W tym miejscu warto przywołać pojęcie
        czujności
        onkologicznej - która wyraża się znajomością potencjalnych symptomów choroby nowotworowej oraz pilnym kontaktem
        z
        lekarzem w przypadku wystąpienia niepokojących objawów.
        Spora część nowotworów rozwija się w organizmie nie dając żadnych sygnałów. Regularne przeglądy zdrowia oraz
        udział w
        badaniach przesiewowych (skrining raka) dają szansę na wykrycie choroby zanim pojawią się przerzuty odległe.</p>

    <p>Warto pamiętać, że w Polsce istnieje kilka programów przesiewowych w ramach których można wykonać bezpłatnie
        badania
        profilaktyczne w kierunku raka piersi, raka jelita grubego czy raka szyjki macicy.</p>
    <p>Najczęściej stosowane badania profilaktyczne w kierunku nowotworów to:</p>
    <p>Kolonoskopia - pozwala na zbadanie okrężnicy i odbytnicy. Jest to jedno z kluczowych badań profilaktycznych w
        kierunku
        raka jelita grubego. Kolonoskopia zalecana jest wszystkim osobom po 50 roku życia.</p>
    <p>Mammografia - udowodniono, że mammografia wykonywana w kierunku raka piersi zmniejsza liczbę zgonów z powodu raka
        piersi. Ważną rolę w prewencji nowotworów kobiecych odgrywają również regularne samobadanie piersi oraz
        kontrolne wizyty
        u ginekologa.</p>
    <p>Badanie cytologiczne - umożliwia wczesne wykrycie zmian mogących prowadzić do rozwoju raka szyjki macicy. Zaleca
        się,
        aby kobiety wykonywały badanie cytologiczne przynajmniej raz do roku.</p>
    <p>PSA test - badanie krwi, które może pomóc w wykryciu raka prostaty. Warto pamiętać, że podwyższony poziom
        antygenu nie
        świadczy od razu o nowotworze, ale także o zapaleniu lub innej zmianie chorobowej.</p>
    <p>Badanie skóry - dermatolodzy zalecają, aby pilnie obserwować znamiona pojawiające się na skórze, a w razie
        potrzeby
        konsultować je ze specjalistą (badanie dermatoskopem). Odradza się korzystanie z solariów oraz nadmierne
        opalanie na
        słońcu.</p>
</span>