<span>
    <p>Witaj,</p>
    <p>Znalazłeś/aś się tutaj bo zależy ci na pogłębeniu swojej wiedzy o profilaktyce nowotworowej. </p>
    <p>To, czy zachorujemy na raka zależy od naszych genów, wieku i trybu życia. Jednak wbrew rozpowszechnionej opinii,
        tylko niewielka część spośród chorób nowotworowych rozwija się w wyniku dziedziczenia określonych predyspozycji.
        Olbrzymia większość nowotworów jest efektem długotrwałego gromadzenia się uszkodzeń DNA. Te akumulujące się w
        ciągu całego życia drobne zmiany sprawiają, że w końcu komórki zaczynają się dzielić i rosnąć w nieograniczony
        sposób. Zdrowy tryb życia może redukować ilość tych uszkodzeń.</p>
    <p>Zachęcam cię również do odwiedzenia innych stron o tematyce profilaktycznej aby twoja wiedza mogła się pogłębiać!
    </p>
    <p>Zobacz również!</p>
    <a href="https://www.instagram.com/alwaysprotectyourskin/">https://www.instagram.com/alwaysprotectyourskin/</a><br>
    <a href="http://onkologia.org.pl/">http://onkologia.org.pl/</a><br>
    <a href="https://www.instagram.com/szybsza.od.raka/">https://www.instagram.com/szybsza.od.raka/</a><br>
    <a
        href="https://docs.google.com/presentation/d/1SIrf7g3rdW66dElK9lwZJwPeBRE6CL950hiJp0sTMVA/edit?fbclid=IwAR2xN6CN8RT1tckg7x3etYfBNvcZNVlwTnZQUiHHc3VPtTjuweayXX5dnyc">https://docs.google.com/presentation</a>
</span>