<div class="topPanel">„Pamiętajcie Lewki, że rak to nie przelewki”</div>

<div class="contentPanel">
    <div class="sidePanel">
        <a routerLink="/" routerLinkActive="active" class="buttonRouter">Strona główna</a>
        <a routerLink="/profilaktyka" routerLinkActive="active" class="buttonRouter">Profilaktyka</a>
        <a routerLink="/rodzaje-badań" routerLinkActive="active" class="buttonRouter">Rodzaje Badań</a>
        <a routerLink="/ankieta" routerLinkActive="active" class="buttonRouter">Ankieta</a>
    
        <img src="../assets/images/giphy.gif">
    </div>
    
    <!-- <div class="image"> -->
    
    <!-- </div> -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>