<div class="topPanel">Lorem ipsum</div>

<div class="contentPanel">
    <div class="sidePanel">
        <a routerLink="/" routerLinkActive="active" class="buttonRouter">Strona główna</a>
        <a routerLink="/historia" routerLinkActive="active" class="buttonRouter">Historia</a>
        <a routerLink="/kontakt" routerLinkActive="active" class="buttonRouter">Kontakt do placówek</a>
        <a routerLink="/ankieta" routerLinkActive="active" class="buttonRouter">Ankieta</a>
    
        <img src="../assets/images/giphy.gif">
    </div>
    
    <!-- <div class="image"> -->
    
    <!-- </div> -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>